:host {
  --mat-toolbar-standard-height: 94px;
  --padding-horizontal-grid-interno: 80px;
  --padding-vertical-grid-interno: 24px;
}

.cabecalho-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mat-toolbar-standard-height);
  padding-right: calc(var(--padding-horizontal-grid-interno) + 1rem);
}

.sidenav-container {
  position: absolute;
  top: 94px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  background: var(--side-bar-color);
  color: var(--side-bar-text-color);
  overflow: hidden;
}

::ng-deep .mat-drawer-inner-container {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.header-menu-container {
  overflow-y: auto;
}

.application-content {
  background-color: var(--container-page-background);
  padding: var(--padding-vertical-grid-interno)
    var(--padding-horizontal-grid-interno);
  height: calc(100% - (var(--padding-vertical-grid-interno) * 2));
}

.mat-toolbar.custom-toolbar-bg {
  background: var(--side-bar-color);
  color: var(--side-bar-text-color);
  padding: 1rem !important;
  font-size: 20px;
  font-weight: 700;
}

.menu-lateral-footer {
  padding: 1rem;
  position: relative;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: var(--side-bar-text-color);
  gap: 1rem;
}

.brasao-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .brasao-imagem {
    width: 54px;
    height: 69px;
  }
}

.texto-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .titulo {
    font-size: 24px;
    font-weight: bold;
  }

  .subtitulo {
    font-size: 16px;
    font-weight: normal;
    margin-top: 8px;
  }
}

.versao-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .versao {
    font-size: 14px;
    font-weight: normal;
  }
}
