html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --primary-color: #005fad;
  --secondary-color: #ff4081;
  --text-color-secondary: #EEF7FF;
  --background-color: #f5f5f5;
  --text-black-color-: #333333;

  --side-bar-color: #005fad;
  --side-bar-text-color: #EEF7FF;

  --header-bar-color: #005fad;
  --header-bar-temporary-color: #3F51B5;
  --header-contrast-color: #EEF7FF;

  --container-page-background: #041434;
  --text-page-color: #EEF7FF;

}

span {
  color: var(--text-page-color);
}
